{% extends "base.html" %}

{% block custom_styles %}
<style>
 body {
   height : 100%;
   min-height : 100%;
   background : url("theme/img/body-bg.jpg") ;
 }

 .index-hentry {
   clear: both;
   background: #fff;
   margin: 0 0 20px 0;
   overflow: hidden;
   padding: 20px 20px 5px 20px;
   border: 1px solid #ccc;
   box-shadow: 0px 3px 8px 0px #ccc;
 }

 .article-index-container {
   padding-top: 90px;
   max-width: 800px;
 }

 .entry-content {
   font-size: 18px;
 }

 #post-list {
   padding : 0 0 0 0 ;
   list-style-type : none ;
 }
</style>
{% endblock %}

{% block content %}
{% block content_title %}
{% endblock %}

<section id="content">
<div class="container article-index-container">
<ol id="post-list">
{% for article in articles_page.object_list %}
        <li><article class="index-hentry">
                <header> <h2 class="entry-title"><a href="../{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
                <footer class="post-info">
                    <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
                </footer><!-- /.post-info -->
                <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
</div>
{% include 'pagination.html' %}
</section><!-- /#content -->
{% endblock content %}
