

body {
    font-family : 'Josefin Sans', sans-serif ;
    font-weight : 400 ;
    padding-top : 60px ; /* Need this to get around fixed navbar */
}

.container {
}

h1 { 
    font-family : "Josefin Sans", sans-serif ;
    font-weight : 600 ;
}

h2 {
    font-weight : 600 ;
    padding-bottom : 0.3em ;
}

.lead {
    font-size : 1.2em ;
}

.content-container {
    font-size : 18px ;
    padding-bottom : 2em ;
    max-width : 800px ;
}

.codesample {
    margin-top : 1em ;
    margin-bottom : 1em ;
    line-height : 125% ;
}

code {
    font-size : 75% ;
    color : #555 ;
}

.code-link-button + .code-link-button {
    margin-left : 50px ;
}

.code-link-button {
    background-color : white ;
    border-color : #ddd ;
    color : inherit ;
}


.code-link-button:hover {
    background-color : #ddd ;
}

.code-link-button-container {
    text-align : center ;
    margin-top : 30px ;
}

/* Tab panels */


/* Navbar */

#navbar-container {
    max-width : 800px ;
}

#top-navbar {
    font-size : 20px ;
    padding-top : 10px ;
    padding-bottom : 10px ;
    background-color : white ;
    box-shadow : 0px 3px 3px #aaa ;
}

#top-navbar .navbar-brand {
    font-size : 20px ;
    font-weight : 600 ;
    color : black ;
    padding-top : 12px ;
    padding-bottom : 10px ;
    border-radius : 5px ;
    height : inherit ; /* Cancel value from bootstrap-min */
    margin-right : 20px ;
}



#top-navbar .nav > li > a  {
    color : black ;
    border-radius : 5px ;
    margin-left : 10px ;
    margin-right : 10px ;
    padding-top : 12px ;
    padding-bottom : 10px ;
}

#top-navbar .nav > li > a:hover, 
#top-navbar .nav > li > a:focus, 
#top-navbar .navbar-brand:hover, 
#top-navbar .navbar-brand:focus {
    color : white ;
    background-color : #222 ;

}


